<!DOCTYPE html>
<html lang="en-us">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home Page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbav">
        <div style="display: flex; flex-wrap: wrap">
            <form action="/charge" method="GET">
                <button class="btn btn-success" type="submit">
                    <%
        				cout << stoi(context["money"]);
        				context.erase("money");
        		    %>
                </button>
            </form>
            <%
        	    if(context["ispublisher"] == "true")
        	    {
            %>
                <a href="/postfilm"><button class="btn btn-success" type="submit" style="color: blue; background-color: yellow;">Post
                    Film</button></a>
            <%
        	    }
            %>
            <a href="/profile"><button class="btn btn-success" type="submit">Profile</button></a>
            <form action="/logout" method="POST">
                <button class="btn btn-success" type="submit">Log Out</button>
            </form>
        </div>
    </nav>
    <section>
        <form action="/homepage" method="GET" style="display: flex;">
            <div>
                <input class="form-control" type="text" placeholder="Name" name="Name">
            </div>
            <div>
                <input class="form-control" type="text" placeholder="Min year" name="Min_year">
            </div>
            <div>
                <input class="form-control" type="text" placeholder="Max year" name="Max_year">
            </div>
            <div>
                <input class="form-control" type="text" placeholder="Min rate" name="Min_rate">
            </div>
            <div>
                <input class="form-control" type="text" placeholder="Price" name="Price">
            </div>
            <div>
                <input class="form-control" type="text" placeholder="Summary" name="Summary">
            </div>
            <div>
                <input class="form-control" type="text" placeholder="Director" name="Director">
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
        <div class="container">
            <table class="table table-hover" style="text-align: center">
                <thead>
                    <tr>
                        <th>Details</th>
                        <th>Name</th>
                        <th>Length</th>
                        <th>Price</th>
                        <th>Rate</th>
                        <th>Year</th>
                        <th>Director</th>
                        <%
                            if(context["ispublisher"] == "true")
                            {
                        %>
                                <th>Delete</th>
                        <%
                            }
                            context.erase("ispublisher");
                            context.erase("money");
                        %>
                    </tr>
                </thead>
                <tbody>
                    <%
                        for(auto it = context.begin() ; it != context.end() ; it++)
                        {
                    %>
                    <tr>
                        <td>
                            <form action="/getfilm" method="GET">
                                <button type="submit" class="btn btn-primary" value="5" name="film_id">Show
                                    details</button>
                            </form>
                        </td>
                        <%
                            std::string temp = "";
                            for(unsigned int i = 0 ; i < context[it->first].size() ; i++)
                            {
                                if(context[it->first][i] == '|')
                                {
                                    if(temp == "candelete")
                                    {
                        %>          
                                    <td>
                                        <form action="/deletefilm" method="POST">
                                            <button type="submit" class="btn btn-primary active-pink-4 mb-4" value="<% cout << it->first; %>" name="film_id">Delete</button>
                                        </form>
                                    </td>
                        <%          
                                    temp = "";
                                    continue;
                                    }
                        %>
                        <td>
                            <%
                                cout << temp;
                            %>
                        </td>
                        <%
                                temp = "";
                                continue;
                            }
                            temp += context[it->first][i];
                            }
                        %>
                    </tr>
                    <%
                        }
                    %>
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>